.conteiner-max{
    max-width: 1920px;
}
.menu{
    display:flex;
    align-items: center;
    justify-content: space-around;

    margin: 0px;
    padding-bottom: 70px;
    padding-top: 0;

    height: 50px;
}

.logo {
    width: 80px;
}

.IconeTema {
    width: 20px;
}

label{
    font-size: 12px;
    font-weight: bold;

    text-align: center;

    margin: 3px 5px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;

    border-radius: 50px;

    padding: 5px 10px;

    background-color: white;

}

button:hover {
    background-color: black;
    color:white;

}

.Tema-escuro{
    background-color: black;
    color: white;
}   
.Tema-claro{
    background-color: white;
    color: black;
}
@media screen and (max-width:1024px) {
    .menu{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}